* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 80vw;
  margin: auto;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 5em 0em;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/932638/pexels-photo-932638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
}
#intro h1 {
  padding: 10px;
  color: #ffffff;
  background-color: #00000036;
}
#intro h4 {
  color: #c7c7c7;
}

#scores {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
